<div class="flex flex-wrap justify-center">
  <.game_card href="/games/minesweeper" name="Minesweeper" img_src="/images/ms-thumbnail.jpg" />
  <.game_card href="/" name="More Games Coming Soon" img_src="/images/DGLogoWhite.svg" enabled={false} />
</div>